{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ wish.title }}{% endblock %}

{% block body %}

    <h2>Detail of the {{  wish.title }}!</h2>
    <p>Category : {{ wish.category.name }}</p>
    <p>Added on {{ wish.createdAt | date('d/m/y H:i') }} </p>
    <p>By {{ wish.author }}</p>
    <p>{{ wish.description }}</p>

{% endblock %}