{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | All wishes!{% endblock %}

{% block body %}
    <h2><strong>All wishes!</strong></h2>

    {% for wish in wishes %}
        <article>
            <!-- Pour mettre le lien dessus le texte
            <a href="{{ path('wish_detail', {id:wish.id}) }}" title="">{{ wish.title }}</a>
            -->
            <h5>{{ wish.title }}</h5>
            <p>Auteur : {{ wish.author }}</p>

            <a href="{{ path('wish_detail', {'id': wish.id}) }}" title="View details" class="btn btn-primary">Show details</a>
            <a href="{{ path('wish_edit', {'id': wish.id}) }}" title="Modify details" class="btn btn-secondary">Modify</a>

        </article>
    {% endfor %}

{% endblock %}